<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 2rem; padding: 20px 0;">
      
      <div style="flex: 1; min-width: 250px;">
        {%- include social.html -%}
      </div>

      <div style="flex: 1; min-width: 250px;">
        <p style="margin: 0; color: #828282;">{{ site.description | escape }}</p>
      </div>
      
    </div>
  </div>
</footer>
